<h1>About Bloccit</h1>

  <p>Created by: Kidus Yohans</p>

<div>
  <%= link_to "Follow me", "https://www.facebook.com/kidusyohans", class: "social-btn" %>  
    
</div>
<div>
  <h2>Bloccit mission </h2>
    <p>The mission is to organize the idea of sharing all sorts of information and make it  accessible and useful to friends.</p>
</div>
<div>
    <p>
      We provide a trusted, convenient source for sharing everyday events or information with friends and people.
    </p>
  <div>
    <p>Our goal is to identifying moments,events enriching and fun experiences for you to enjoy and share with your friends.</p>
  </div>
</div>