<h1>About Bloccit</h1>

  <p>Created by: Kidus Yohans</p>
<div>
  <a href="https://www.facebook.com/kidus.yohans">Friend me on <span>Facebook!</span></a>
</div>

<div>
  <%= link_to "Link with me", "https://www.linkedin.com/pub/kidus-yohans/54/b48/1ab", class: "social-btn" %>  
    
</div>
<div>
  <h2>Bloccit mission </h2>
    <p>The mission is to organize the idea of sharing all sorts of information and make it  accessible and useful to friends.</p>
</div>
<div>
    <p>
      We provide a trusted, convenient source for sharing everyday events or information with friends and people.
    </p>
  <div>
    <p>Our goal is to identifying moments,events enriching and fun experiences for you to enjoy and share with your friends.</p>
  </div>
  <div>
    <img src=https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcScEOok5bKB7Vn3hqrb0hQQQK3dkDgrSeTdqLFLF8wbZN8plWKg />
    
  </div><div style="text-align:center"><li><p style="color:green;font-size:70px">Culture </p><li style="color:yellow;font-size:60px">Communication</li><li style="color:red;font-size:30px">Community</li><li style="color:green;font-size:40px">Caring</li>
  <li style="color:yellow;font-size:20px">Consistency</li><li style="color:red;font-size:50px">Connect</li></div>
  
  <div>
    <img src=https://lh3.googleusercontent.com/proxy/XL2TNTDxgvDX-JPn9Td-9N63lJzml0QtI4LRTu2XxTxZ2_2lsjSisndzT6NYEdMflxlZJchpRuj8CiYsvk0dd_KieQaLV4BGvhPm59tu_neWfTApzmWOeslVWhsI=w426-h281-p />
  </div>

</div>